<launch>
    <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find beginner_tutorials)/config/config.conf"
    />
    <arg name = "frequency" default = "5" />
    <arg name = "rosbagEnable" default = "false" />
    <node
        pkg = "beginner_tutorials"
        type = "talker"
        name = "talker"
        output = "screen"
        args="$(arg frequency)"
    />

    <node
        pkg = "beginner_tutorials"
        type = "listener"
        name = "listener"
        output = "screen"
        launch-prefix = "gnome-terminal -e"
    />
    <node 
        pkg = "rosbag"
        type = "record"
        name = "record"
        espawn="true" 
        output="screen"
        args = "-a -O $(find beginner_tutorials)/results/beginner_tutorials.bag"
        if="$(arg rosbagEnable)"
     />
</launch>
